#avatar {
   display: flex;
   justify-content: center;
}

#intro {
    text-align: center;
}

#padding {
    padding: '20px' !important;
}

#content::after{
    content: "\a";
    white-space: pre;
}